body{
    background-color: bisque;
    margin: 20px;

}
/* csökkenő sorrend, csak a változást jelenítsd meg */
@media all and (max-width: 1200px) {
    body{
        background-color: rgb(174, 114, 41);
    }

}
@media all and (max-width: 800px) {
    body{
        background-color: rgb(99, 62, 16);
    }
}
@media all and (max-width: 1200px) {
    body{
        background-color: rgb(174, 114, 41);
            color: white;
        }
    
}